<nav class="sidebar">

    <!-- Home heading link -->
    <h3 class="nav-title box">
        <a href="/index.html">Home</a>
    </h3>

    <!-- Games heading -->
    <h3 class="nav-title box">Games</h3>
    <ul class="game-list">
        <li><a class="game-link box" href="{{ url_for('index') }}">Guessing Game</a></li>
        <li><a class="game-link box" href="/rps.html">Rock Paper Scissors</a></li>
    </ul>

    <!-- Pydy Tuesday heading link -->
    <h3 class="nav-title box">
        <a href="/pytues.html">Pydy Tuesday</a>
    </h3>

</nav>
